<div class='card loan-card'>
  <div class='card-body'>
    <h5 class='card-title'>Budget for {{user.name}}</h5>
    <br />
    <table>
      <tr>
        <th class='col-md-1'>Total Income</th>
        <th class='col-md-1'>Total Remaining</th>
        <th class='col-md-1'>Total Expense</th>
        <th class='col-md-1'>Savings Goal Name</th>
        <th class='col-md-1'>Savings Amount</th>
        <th class='col-md-1'>Savings Date</th>
        <th class='col-md-1'>Goal Remaining</th>
      </tr>
      {{#each budgets as |budget|}}

        <tr>
          <td class='col-md-1'>${{budget.total_income}}</td>
          <td class='col-md-1'>${{budget.total_remain}}</td>
          <td class='col-md-1'>${{budget.total_expense}}</td>
          <td class='col-md-1'>{{budget.savings_goal_name}}</td>
          <td class='col-md-1'>${{budget.savings_amount}}</td>
          <td class='col-md-1'>{{budget.savings_date}}</td>
          <td class='col-md-1'>${{budget.goal_remain}}</td>
        </tr>
      {{/each}}

    </table>
  </div>
</div>
<br>
<div class='graph-card'>
  {{>expenses_graph_card}}
</div>
