<div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="project-modal-form">Edit Budget</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="project-form"  userInfo2 = "{{user.id}}">
          <div class="modal-body">
            <div class="form-group">
              <label for="total_income">Monthly Income</label>
              <input type="text" id="total_income" class="form-control" value="{{ budget.total_income }}" placeholder="$0.00" required/>
            </div>

            <div class="form-group">
              <label for="total_remain">What is Your Current Balance?</label>
              <input type="text" id="total_remain" class="form-control" value="{{ budget.total_remain }}" placeholder="$0.00" required/>
            </div>

            <div class="form-group">
              <label for="savings-name">Enter the name of your savings goal:</label>
              <input type="text" id="savings-name" class="form-control" value="{{ budget.savings_goal_name }}" placeholder="ex: New Car Down Payment" required/>
            </div>
            <div class="form-group">
              <label for="savings-amount">Savings Goal Amount:</label>
              <input type="text" id="savings-amount" class="form-control" value="{{ budget.savings_amount }}" placeholder="$0.00" required/>
            </div>
            <div class="form-group">
              <label for="savings-date">When do you want to meet your savings goal?</label>
              <input type="date" id="savings-date" class="form-control" value="{{ budget.savings_date }}" placeholder="YYYY-MM-DD" required/>
            </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn custom-btn">Submit Budget Info</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- Modal For Add Income and Expense -->
  <div class="modal fade custom-modal" id="income-expense-modal" tabindex="-1" role="dialog"
    aria-labelledby="income-expense-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="income-expense-form">Add Income or Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="transaction-form">
          <div id = "transaction-modal" class="modal-body" userInfo = "{{user.id}}">
            {{!-- Transaction Name Input --}}
            <div class="form-group">
              <label for="trx_name">Name of Transaction (or Income)?</label>
              <input type="text" id="trx_name" class="form-control" value="{{ transaction.tran_name }}" placeholder="ex: New Tires" required/>
            </div>
            {{!-- Transaction Amount Input --}}
            <div class="form-group">
              <label for="trx_amount">Amount of Transaction?</label>
              <input type="text" id="trx_amount" class="form-control" value="{{ transaction.amount }}" placeholder="0.00" required/>
            </div>
            {{!-- Income or Expense Input --}}
            <div class='form-group'>
              <label for="is_exp">Is this an expense?</label><br>
              <input type="checkbox" id="is_exp" class="fav_language" value="{{ transaction.is_expense }}">
            </div>
            {{!-- Tran Date Input --}}
            <div class="form-group">
              <label for="trx_date">Date of transaction?</label>
              <input type="date" id="trx_date" class="form-control" value="{{ transaction.tran_date }}" placeholder="YYYY-MM-DD" required/>
            </div>
            {{!-- Category Input --}}
            <div class="form-group">
              <label for="trx_category">Category Name</label>
              <input type="text" id="trx_category" class="form-control" value="{{ transaction.category }}" placeholder="ex: Automobile Upkeep" required/>
            </div>
            {{!-- Recurring Input --}}
            <div class="form-group">
              <label for="is_req">Is this Recurring?</label><br>
              <input type="checkbox" id="is_req" class="fav_language" value="{{ transaction.is_expense }}">
            </div>
            {{!-- Recurring Date Input --}}
            <div class="form-group">
              <label for="recurring-date">When does it recur (if applicable)?</label>
              <input type="text" id="recurring-date" class="form-control" value="{{ transaction.recur_date }}" placeholder="ex: The first of the month" />
            </div>
            {{!-- Notes Input --}}
            <div class="form-group">
              <label for="notes">Notes:</label>
              <input type="text" id="notes" class="form-control" value="{{ transaction.notes }}" placeholder="ex: Remember to cancel after the first year"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn custom-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>