{{! transaction page }}
<div class='card loan-card'>
  <div class='card-body'>
    <h5 class='card-title col-md-12'>Check Register for {{user.name}}</h5>
    <table>
      <tr>
        <th class='col-md-1 budget-page-header'>Date</th>
        <th class='col-md-2 budget-page-header'>Payee</th>
        <th class='col-md-1 budget-page-header'>Expense</th>
        <th class='col-md-1 budget-page-header'>Income</th>
        <th class='col-md-2 budget-page-header'>Category</th>
        <th class='col-md-1 budget-page-header'>Bill?</th>
        <th class='col-md-2 budget-page-header'>Recurring Schedule</th>
        <th class='col-md-2 budget-page-header'>Notes</th>
      </tr>
      {{! data pulled from transaction table }}
      {{#each transactions as |transaction|}}

        <tr>
          <td class='col-md-1'>{{transaction.tran_date}}</td>
          <td class='col-md-2'>{{transaction.tran_name}}</td>
          <td class='col-md-1'>{{#if
              transaction.is_expense
            }}${{transaction.amount}}{{else}}{{/if}}</td>
          <td class='col-md-1'>{{#if
              transaction.is_expense
            }}{{else}}${{transaction.amount}}{{/if}}</td>
          <td class='col-md-2'>{{transaction.category}}</td>
          <td class='col-md-1'>{{#if
              transaction.is_recurring
            }}Yes{{else}}No{{/if}}</td>
          <td class='col-md-2'>{{transaction.recur_date}}</td>
          <td class='col-md-2'>{{transaction.notes}}</td>
        </tr>
      {{/each}}

    </table>
  </div>
</div>