<div class='card loan-card'>
  <div class='card-body'>
    <h5 class='card-title col-md-11'>Monthly Expenses</h5>
    <table>
      <tr>
        <th class='col-md-2'>Payee</th>
        <th class='col-md-1'>Date</th>
        <th class='col-md-1'>Amount</th>
        <th class='col-md-1'>Category</th>
        <th class='col-md-1'>Next Bill Date</th>
        <th class='col-md-3'>Notes</th>
      </tr>
      {{#each transactions as |transaction|}}
        {{#if transaction.is_recurring}}
          <tr>
            <td class='col-md-2'>{{transaction.tran_name}}</td>
            <td class='col-md-1'>{{transaction.tran_date}}</td>
            <td class='col-md-1'>${{transaction.amount}}</td>
            <td class='col-md-1'>{{transaction.category}}</td>
            <td class='col-md-1'>{{transaction.recur_date}}</td>
            <td class='col-md-3'>{{transaction.notes}}</td>
          </tr>
        {{else}}
        {{/if}}
      {{/each}}

    </table>
  </div>
  <p class='col-md-1'><a href='/transaction-display'>(see all)</a></p>
</div>